* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #2c2c2c;
}

body a {
  color: inherit;
  text-decoration: none;
}

p {
  text-align: center;
}

.shadow {
  box-shadow: none !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

main > .row {
  margin-top: 30px;
}

div.col-5 {
  text-align: center;
}

.btn-dark {
  background-color: rgb(46, 46, 46);
}

.fixed-height-scrollable {
  padding-right: 0.5rem;
  margin-bottom: 2rem;
  flex-flow: column;
  height: 350px;
  overflow-y: auto;
}

.btn-outline-secondary {
  color: rgb(87, 87, 87);
  border-color: rgb(202, 202, 202);
}

.addable-list-verwarming {
  height: 250px;
  overflow: auto;
}

.list-item .col-12 {
  padding: 0;
}

.button-row {
  margin-top: 1rem !important;
  padding-left: 0;
}

.tab-content {
  width: 100%;
}

.list-item {
  padding-top: 0.7rem;
  width: 100%;
}

img {
  border-radius: 20px;
  vertical-align: middle;
  border-style: none;
}

.house-image img {
  width: 100% !important;
}

li.list-inline-item {
  opacity: 1;
}

.list-inline-item {
  margin-right: 0 !important;
}

.list-inline-item img {
  width: 100%;
}

div.form-row.mt-4 {
  text-align: center;
}

.form-row {
  margin-left: 0;
  margin-right: 0;
}

.container {
  max-width: 1613px;
}

.waarneming-box {
  background-color: green;
}

.waarneming-box option:first-child {
  background-color: green;
}

.waarneming-box option:nth-child(2) {
  background-color: rgb(106, 163, 106);
}

.waarneming-box option:nth-child(3) {
  background-color: yellow;
}

.waarneming-box option:nth-child(4) {
  background-color: orange;
}

.waarneming-box option:nth-child(5) {
  background-color: red;
}

.col {
  border: black;
}

.col-12 {
  text-align: left;
}

.progression-bar {
  padding-top: 45px;
}

.house-image > img {
  border-radius: 20px;
  vertical-align: middle;
  border-style: none;
  height: auto;
  margin-top: 36px;
}

.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content {
  width: 95%;
  margin: 0 auto 50px;
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.nav-link {
  background-color: rgb(46, 46, 46);
  color: white;
}

.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 58px;
  color: rgba(108, 117, 125, 0.7);
  border: none;
  background-color: transparent;
  outline: none !important;
}

@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}

.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 50px;
  height: 50px;
  content: "";
  transform: translateX(-50%);
  transition: all 0.15s linear 0s,
    transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s,
    -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}

.multisteps-form__progress-btn:after {
  position: absolute;
  top: 22px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 6px;
  content: "";
  background-color: currentColor;
  z-index: 1;
}

.multisteps-form__progress-btn:first-child:after {
  display: none;
}

.multisteps-form__progress-btn.js-active {
  color: #007bff;
}

.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form {
  margin-top: 36px;
  min-height: 550px;
  background-color: white;
  border-radius: 25px;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.multisteps-form__panel[data-animation="scaleIn"] {
  box-shadow: none !important;
  transform: scale(0.9);
}

.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
